<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.cloud.user.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.spring.cloud.user.domain.User">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="BIT" />
		<result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		user_id, user_name, sex, birthday
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from u_user
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
	<select id="findUsers" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from u_user
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from u_user
		where user_id = #{userId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.spring.cloud.user.domain.User">
		insert into u_user (user_id, user_name, sex,
		birthday)
		values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
		#{sex,jdbcType=BIT},
		#{birthday,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.spring.cloud.user.domain.User">
		insert into u_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=BIT},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.spring.cloud.user.domain.User">
		update u_user
		<set>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=BIT},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=TIMESTAMP},
			</if>
		</set>
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.spring.cloud.user.domain.User">
		update u_user
		set user_name = #{userName,jdbcType=VARCHAR},
		sex = #{sex,jdbcType=BIT},
		birthday = #{birthday,jdbcType=TIMESTAMP}
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
</mapper>